.App {
  border-radius: 10px;
  background: #f2f2f2;
  width: 600px;
  margin: 60px auto;
  padding: 30px;
}
header {
  padding-bottom: 40px;
}
#search-input {
  border: none;
  padding: 20px 30px;
  border-radius: 5px;
  background: #e7eaf6;
  width: 80%;
  font-size: 15px;
}
#search-button {
  border: none;
  border-radius: 5px;
  padding: 20px 25px;
  background: #38598b;
  color: white;
  margin-left: 4px;
  font-size: 15px;
}
h1 {
  font-size: 34px;
  font-weight: 900;
  margin-top: 40px;
  color: #231c39;
}
#temperature-details {
  display: flex;
  justify-content: start;
}
#temperature {
  font-size: 80px;
  font-weight: bold;
  margin-top: 0;
  color: #231c39;
}
#unit {
  color: #231c39;
  font-weight: bold;
  font-size: 26px;
}

.current-details {
  display: flex;
  justify-content: space-between;
}
.precipitation {
  font-size: 20px;
  margin-right: 25px;
  opacity: 0.8;
}
